@charset "utf-8";
article {
	font-family: "Open Sans";
}
article {
	font-size: 9px;
}
article {
	font-size: 12px;
}
article {
	font-size: 14px;
}
body p {
	font-family: "Open Sans";
}
body p {
	font-size: 14px;
	font-family: "Open Sans";
	color: #000000;
}
body div table tr td aside {

}
h2 {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	color: #0091D0;
}
body div table tr td article article h3 {
	font-family: "Open Sans";
	font-size: 24px;
}
body div table tr td article article p {
	color: #000000;
}
body div table tr td aside p {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
}
body div table tr td aside {
	font-family: "Open Sans";
}
body div table tr td aside {
	font-size: 14px;
}
body h1 {
	font-family: "Open Sans";
	font-size: 14px;
	color: #00A3E2;
}
#contact fieldset legend {
	font-family: "Open Sans";
}
#contact fieldset legend {
	font-size: 14px;
}
